/* General Styles */
body {
    margin: 0;
    font-family: Arial;
    line-height: 1.6;
    background-color: #f9f9f9;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
    
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6e8dae ;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar .login-btn {
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .navbar .login-btn:hover {
    background-color: #0056b3;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #e3f2fd;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    margin-bottom: 20px;
    color: #555;
  }
  
  .hero-buttons {
    display: flex;
    gap: 10px;
  }
  
  .get-started-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .get-started-btn:hover {
    background-color: #0056b3;
  }
  
  .learn-more-link {
    font-size: 1em;
    color: #007bff;
  }
  
  .learn-more-link:hover {
    text-decoration: underline;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Footer */
  .footer {
    background-color: #6e8dae;
    color: white;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .footer-about,
  .footer-contact {
    flex: 1;
    margin: 10px;
  }
  
  .footer-about h3,
  .footer-contact h4 {
    margin-bottom: 10px;
  }
  .footer-about h3{
    color: white;
  }
  .footer-about p{
    color: #aad1f5;
  }
  
  .footer-contact a {
    color: #aad1f5;
  }
  .footer-contact a:hover {
    text-decoration: underline;
  }
  .footer-contact p {
    color: #aad1f5;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #aad1f5;
    padding-top: 10px;
    font-size: 0.9em;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content {
      max-width: 100%;
    }
  
    .hero-image {
      margin-top: 20px;
    }
  
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-about,
    .footer-contact {
      text-align: center;
      margin: 10px 0;
    }

   
  }
  